.App {
  text-align: center;
  align-items: center;
  max-width: 1080px;
  min-width: 360px;
  margin: 0 auto;
  overflow: auto;
  list-style-type: disc;
  list-style-position: inside;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.message-container {
  display: flex;
  flex-direction: column;
  align-items: right;
  border: 3px solid #9E9FA5;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  margin: 0 auto;

}

.message {
  margin: 5px 10px;
  padding: 8px;
  border-radius: 30px;
  border: 2px solid #9E9FA5;
  margin: 0px 10px 10px 10px;
  margin-bottom: 15px;
  align-items: center;
  text-align: right;
  align-self: flex-end;
  
}

.received {
  background-color: #e0e0e0;
  align-self: flex-start;
}

.sent {
  background-color: #b2f5ea;
  align-self: flex-end;
}

.input-container {
  display: flex;
  align-items: right;
  margin-top: 20px;
}

.input-container input {
  flex: 1;
  margin-right: 10px;
  align-items: center;
}

.input-container button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}
