body {
    font-family: "Segoe UI";
    font-size: 16px;
    background-color: rgb(26, 24, 24);
    color: white;

}

#page {
    max-width: 720px;
    min-width: 360px;
    margin: 0 auto;
}

p {
    background-color: green;
    margin: 20px 16px 20px 32px;
    padding: 30px 26px;
    border-radius: 12px;
}

header h1 {
    font-size: 32px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    justify-content: space-between;
}
header a:hover {
    font-weight: bold;
    color: rgb(95, 33, 33);
    text-decoration: none;
}

.vermelinho {
    background-color: red;
}
.cinza{
    background-color: gray;
}
.gigante{
    font-size: 24px;
}
form {
    border: 2px solid red;
    padding: 16px;
    margin-bottom: 32px;
}
form div label {
    display: block;
    font-weight: bold;
    text-align: left;
    margin-bottom: 4px;
}

form div input, 
form div select {
    border: 1px solid rgb(26, 24, 24);
    font-size: 15px;
    padding: 7px 10px;
    outline: 0;
    border-radius: 8px;

}

form h3 {
    font-size: 18px;
    margin-bottom: 12px;
}

form .input-radio {
    margin-bottom: 7px;
}

form .input-radio label {
    display: inline;

}

form button {
    border: 0;
    border-radius: 6px;
    padding: 8px 12px;
    font-weight: bold;
    font-size: 15px;
    background-color: rgb(95, 33, 33);
    color: white;
    cursor: pointer;
    transition: all 0.25s;
}

form button[type=reset] {
    background-color: rgb(123, 123, 145);
    font-weight: normal;
    font-size: 18px;
}

form button:hover {
    font-size: 20px;
}

form .row-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

header {
    padding: 12px 16px;
    background-color: rgb(83, 83, 83);
}
